*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: hsl(217, 54%, 11%);
  height: 100vh;
  font-size: 1.8rem;
  font-family: "Outfit", sans-serif;
  display: grid;
  place-items: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  padding: 1.4rem;
  border-radius: 1.5rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cube-image-container {
  position: relative;
  font-size: 0;
}

.cube-image-overlay {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: hsla(178, 100%, 50%, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  opacity: 0;
}

.cube-image-overlay:hover {
  opacity: 100;
  cursor: pointer;
  display: grid;
}

.clear-cube-image {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.eye-button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.card-text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.card-title {
  color: hsl(0, 0%, 100%);
}

.card-title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.card-text,
.days-left {
  color: hsl(215, 51%, 70%);
  font-weight: 300;
}

.card-text {
  font-size: 1.6rem;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}

.price-container-left {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.price-container-left img,
.price-container-right img {
  height: 1.4rem;
}

.price-container-right {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.price-text {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.horizontal-line {
  background-color: hsl(215, 32%, 27%);
  height: 1px;
}

.avatar-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.avatar-container img {
  height: 2.5rem;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.avatar-container figcaption {
  color: hsl(215, 51%, 70%);
}

.avatar-container figcaption span {
  color: hsl(0, 0%, 100%);
}

.avatar-container figcaption span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.visually_hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
